<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css?v=1.0">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body class="text-idg-black bg-idg-grey-light">

    <div class="">
      {% include "partials/site-head.njk" %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include "partials/site-foot.njk" %}
    </div>

    <script>
      let scrollpos = window.scrollY
      const header = document.querySelector("#site-head")
      const header_height = header.offsetHeight
    
      const add_class_on_scroll = () => header.classList.add("site-header--scolled")
      const remove_class_on_scroll = () => header.classList.remove("site-header--scolled")
    
      window.addEventListener('scroll', function() { 
        scrollpos = window.scrollY;
    
        if (scrollpos >= header_height) { add_class_on_scroll() }
        else { remove_class_on_scroll() }
    
        console.log(scrollpos)
      })
    </script>

  </body>

</html>