{% extends "layouts/base.njk" %} 

{% block content %}

  {% set pageHeaderSubPageImg = "/images/header-img-1.png" %}
  {% set pageHeaderSubPageTitle = title %}
  {% set pageHeaderSubPageSubTitle = "Title here about careers at IDG and how to apply" %}
  {% include "partials/page-header-sub-page.njk" %}
  
  {% set textHighlightText = "We’re always looking for experienced security specialists to work on our projects around the world. If you share our ethos of responsibility and high ethical standards then browse the opportunities below." %}
  {% include "partials/text-highlight.njk" %}

  <div class="relative pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8 bg-idg-blue-light">
    <div class="relative container px-12 xxl:px-0 mx-auto">
      {% set titleTitle = "Featured Jobs" %}
      {% set titleTitleColor = "text-idg-blue" %}
      {% set titleTitlePosition = "hidden" %}
      {% include 'partials/title.njk' %} 
  
      <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        {% set cardImg = "/images/img-jobs.png" %}
        {% set cardTitle = "Senior Supervisor, Mogadishu" %}
        {% set cardBg = "bg-idg-blue-mid" %}
        {% set cardText = "The Senior Supervisor is responsible for effectively leading and managing the site Guard Force, and in doing so will provide the highest levels of security to the Client." %}
        {% include 'partials/card.njk' %}
    
        {% set cardImg = "/images/img-jobs.png" %}
        {% set cardTitle = "Site Supervisor, Mogadishu" %}
        {% set cardBg = "bg-idg-blue-mid" %}
        {% set cardText = "Site Supervisors will effectively run the Guard Force shift under their responsibility. They must be an excellent example of professional skills, correct appearance and appropriate behaviour at all times." %}
        {% include 'partials/card.njk' %}
  
        {% set cardImg = "/images/img-jobs.png" %}
        {% set cardTitle = "Armed Security Officer, Mogadishu" %}
        {% set cardBg = "bg-idg-blue-mid" %}
        {% set cardText = "Armed Security Officers (ASOs) are the first level of protection to the Client. They will provide the key access control, patrolling, and incident response functions to the site." %}
        {% include 'partials/card.njk' %}
      </div>
    </div>
  </div>

<div class="bg-idg-blue-light">
  <div class="relative container px-12 xxl:px-0 mx-auto pb-20">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-idg-blue">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left font-bold text-white">
                    Job Title
                  </th>
                  <th scope="col" class="px-6 py-3 text-left font-bold text-white">
                    Contract
                  </th>
                  <th scope="col" class="px-6 py-3 text-left font-bold text-white">
                    Location
                  </th>
                  <th scope="col" class="px-6 py-3 text-left font-bold text-white">
                    Date posted
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- Odd row -->
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap">
                    Explosive Detection Dog Handler IDG Global EDD	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Full-Time
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Somalia, Mogadishu	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Feb 20, 2021
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <a href="#" class="btn">Further Information</a>
                  </td>
                </tr>
    
                <!-- Even row -->
                <tr class="bg-idg-blue-light">
                  <td class="px-6 py-4 whitespace-nowrap">
                    Explosive Detection Dog Handler IDG Global EDD	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Full-Time
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Somalia, Mogadishu	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Feb 20, 2021
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <a href="#" class="btn">Further Information</a>
                  </td>
                </tr>
    
                <!-- Odd row -->
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap">
                    Explosive Detection Dog Handler IDG Global EDD	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Full-Time
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Somalia, Mogadishu	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Feb 20, 2021
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <a href="#" class="btn">Further Information</a>
                  </td>
                </tr>
    
                <!-- Even row -->
                <tr class="bg-idg-blue-light">
                  <td class="px-6 py-4 whitespace-nowrap">
                    Explosive Detection Dog Handler IDG Global EDD	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Full-Time
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Somalia, Mogadishu	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Feb 20, 2021
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <a href="#" class="btn">Further Information</a>
                  </td>
                </tr>
                <!-- Odd row -->
                <tr class="bg-white">
                  <td class="px-6 py-4 whitespace-nowrap">
                    Explosive Detection Dog Handler IDG Global EDD	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Full-Time
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Somalia, Mogadishu	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Feb 20, 2021
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <a href="#" class="btn">Further Information</a>
                  </td>
                </tr>
    
                <!-- Even row -->
                <tr class="bg-idg-blue-light">
                  <td class="px-6 py-4 whitespace-nowrap">
                    Explosive Detection Dog Handler IDG Global EDD	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Full-Time
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Somalia, Mogadishu	
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    Feb 20, 2021
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right">
                    <a href="#" class="btn">Further Information</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {% set ctaTitle = "Sign Up" %}
  {% set ctaBtnText = "Sign Up" %}
  {% set ctaSubtitle = "If you would like to be contacted when a suitable role opens, please complete a general registration with us by signing up" %}
  {% include "partials/cta.njk" %}

{% endblock %}