{% extends "layouts/base.njk" %} 

{% block content %}

  {% set pageHeaderFullImgSubTitle = title %}
  {% set pageHeaderFullImgTitle = "Title inviting you to get in touch with IDG " %}
  {% set pageHeaderFullBG = "background-image: url('/images/mask-test.png')" %}
  {% include "partials/page-header-right.njk" %}

  {% set contactFormBG = "bg-white" %}
  {% include "partials/contact-form.njk" %}

  {% include "partials/contact-grid.njk" %}


{% endblock %}