{% extends "layouts/base.njk" %} 

{% block content %}

  {% include "partials/page-header.njk" %}

  {% include "partials/cta-2.njk" %}

  {% set cta3Title = "Our expertise" %}
  {% include "partials/cta-3.njk" %}

  {% set previewRightImg = "/images/panel-1.jpg" %}
  {% set previewRightTitle = "Site Security" %}
  {% set previewRightSubTitle = "Ensuring safety and operational continuity for client sites around the world." %}
  {% set previewRightText = "We work with a range of clients, from the UN to hotel operators, to offer a secure environment for employees, visitors and guests in high risk and remote environments." %}
  {% include "partials/preview--right.njk" %}

  {% set previewLeftImg = "/images/panel-2.jpg" %}
  {% set previewLeftTitle = "K9 Protection & Explosive Detection" %}
  {% set previewLeftSubTitle = "Protecting people and places with specialist dogs." %}
  {% set previewLeftText = "Our dogs are teamed with experienced handlers to create specialist dog teams for either detection or patrol." %}
  {% include "partials/preview--left.njk" %}

  {% set previewRightImg = "/images/panel-3.jpg" %}
  {% set previewRightTitle = "Training & Capacity Bulding" %}
  {% set previewRightSubTitle = "Building capacity by developing the capability and security skills of your personnel." %}
  {% set previewRightText = "IDG security training provides your people with the tools they need to minimise risks and protect your organisation." %}
  {% include "partials/preview--right.njk" %}

  {% set previewLeftImg = "/images/panel-4.jpg" %}
  {% set previewLeftTitle = "Security Risk Management" %}
  {% set previewLeftSubTitle = "Reducing your exposure to risks, withstanding threats and saving lives." %}
  {% set previewLeftText = "We ensure your organisation is ready to face potential threats through prevention, contingency planning, testing and evaluation." %}
  {% include "partials/preview--left.njk" %}

  {% set previewRightImg = "/images/panel-5.jpg" %}
  {% set previewRightTitle = "Close Protection" %}
  {% set previewRightSubTitle = "Highly trained and dedicated at-hand protection." %}
  {% set previewRightText = "Working in high-risk areas IDG personal security details provide highly trained security operators who are dedicated to the personal protection of their clients. " %}
  {% include "partials/preview--right.njk" %}

  {% set cta5Title = "‘Hami Jasto Kohi Chhaina’<br /><span class='font-light text-2xl'>(There is nobody quite like us)</span>" %}
  {% set cta5Text = "From a heritage founded in the values of the Brigade of Gurkhas of the British Army, we now employ a diverse workforce around the world. We are united by a sense of responsibility to the clients we serve, and each other. Our commitment to the communities in which we operate, and extraordinary ethical standards sets us apart." %}
  {% set cta5Btn = true %}
  {% set cta5TitleBG = "bg-idg-blue bg-fern--2" %}
  {% set cta5TitleColor = "text-white" %}
  {% include "partials/cta-5.njk" %}

  {% set showSomalia = true %}
  {% include "partials/cards.njk" %}

  {% include "partials/cta-4.njk" %}

{% endblock %}