{% extends "layouts/base.njk" %} 

{% block content %}

  {% include "partials/page-header.njk" %}

  {% include "partials/cta-2.njk" %}

  {% include "partials/cta-3.njk" %}

  {% set previewRightImg = "/images/panel-1.jpg" %}
  {% set previewRightTitle = "Site Security" %}
  {% set previewRightSubTitle = "Ensuring safety and operational continuity for client sites around the world." %}
  {% set previewRightText = "Organisations operating in high-risk and volatile areas need to know that their facilities, operations, premises and people are safe and protected. We work with a range of clients, from the UN to hotel operators, to offer a secure environment for employees, visitors and guests in high-risk or remote environments." %}
  {% include "partials/preview--right.njk" %}

  {% set previewLeftImg = "/images/panel-2.jpg" %}
  {% set previewLeftTitle = "K9 Protection & Explosive Detection" %}
  {% set previewLeftSubTitle = "Protecting people and places with specialist dogs." %}
  {% set previewLeftText = "Our clients need assurance that no explosives will enter their facilities, premises, venues, business or aircraft without their knowledge or consent. Our dogs are teamed with experienced handlers to create specialist dog teams for either detection or patrol. " %}
  {% include "partials/preview--left.njk" %}

  {% set previewRightImg = "/images/panel-3.jpg" %}
  {% set previewRightTitle = "Training & Capacity Bulding" %}
  {% set previewRightSubTitle = "Building capacity by developing the capability and security skills of your personnel." %}
  {% set previewRightText = "We live in an unstable world. Staff that are faced with internal and external security threats in remote and hazardous environments need to know the fundamentals of how to minimise risk and increase overall security.  IDG security training provides your people with the tools they need to prevent risks and protect your organisation." %}
  {% include "partials/preview--right.njk" %}

  {% set previewLeftImg = "/images/panel-4.jpg" %}
  {% set previewLeftTitle = "Security Risk Management" %}
  {% set previewLeftSubTitle = "Reducing your exposure to risks, withstanding threats and saving lives." %}
  {% set previewLeftText = "In an unpredictable world, organisations that understand and mitigate potential threats are better placed to prevent crises; and deal with them when they happen. IDG identifies and analyses potential risks that affect your ability to achieve your objectives. We then ensure organisational readiness through prevention, contingency planning, testing and evaluation." %}
  {% include "partials/preview--left.njk" %}

  {% set previewRightImg = "/images/panel-5.jpg" %}
  {% set previewRightTitle = "Close Protection" %}
  {% set previewRightSubTitle = "Highly trained and dedicated at-hand protection." %}
  {% set previewRightText = "Working in high-risk areas is problematic. Simply getting from one place to another can be risky, and attending meetings, conferences, and conducting business, exposes you to risk. An IDG personal security detail provides highly trained security operators who are dedicated to the personal protection of their clients." %}
  {% include "partials/preview--right.njk" %}


  {% include "partials/cta-2.njk" %}

  {% include "partials/cards.njk" %}

  {% include "partials/cta-4.njk" %}




<article>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
{% endblock %}