{% extends "layouts/base.njk" %} 

{% block content %}

  {% set pageHeaderSubPageImg = "/images/header-img-1.png" %}
  {% set pageHeaderSubPageTitle = title %}
  {% set pageHeaderSubPageSubTitle = "Headline covering the client base and other information" %}
  {% include "partials/page-header-sub-page.njk" %}
  
  {% set textHighlightText = "Our client base covers governments, international and non-governmental organisations, the oil and gas, extractive and natural resources industries, manufacturing and industrial operations, luxury hotels and high net-worth<br /> individuals and families." %}
  {% include "partials/text-highlight.njk" %}

<div class="relative pb-20 px-4 sm:px-6 lg:px-8 bg-white">
  <div class="relative container px-12 xxl:px-0 mx-auto">

    <div class="pt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">

      {% set cardImg = "/images/client-preview.png" %}
      {% set cardTitle = "UN Assistance Mission (UNAMA)" %}
      {% set cardBg = "bg-idg-blue-light" %}
      {% set cardText = "
        <span class='text-idg-grey font-light block'>Location</span><span class='font-bold block mb-3'>Afghanistan</span>
        <span class='text-idg-grey font-light block'>Sector</span><span class='font-bold block mb-3'>Guarding</span>
        <span class='text-idg-grey font-light block'>What we did</span><span class='font-bold block mb-3'>Armed and unarmed security services </span>
        <span class='text-idg-grey font-light block'>What they said</span><span class='font-bold block mb-3'>“Quote to go here”</span>
      " %}
      {% include 'partials/card.njk' %}
  
      {% set cardImg = "/images/client-preview.png" %}
      {% set cardTitle = "UN Assistance Mission (UNAMA)" %}
      {% set cardBg = "bg-idg-blue-light" %}
      {% set cardText = "
        <span class='text-idg-grey font-light block'>Location</span><span class='font-bold block mb-3'>Afghanistan</span>
        <span class='text-idg-grey font-light block'>Sector</span><span class='font-bold block mb-3'>Guarding</span>
        <span class='text-idg-grey font-light block'>What we did</span><span class='font-bold block mb-3'>Armed and unarmed security services </span>
        <span class='text-idg-grey font-light block'>What they said</span><span class='font-bold block mb-3'>“Quote to go here”</span>
      " %}
      {% include 'partials/card.njk' %}

      {% set cardImg = "/images/client-preview.png" %}
      {% set cardTitle = "UN Assistance Mission (UNAMA)" %}
      {% set cardBg = "bg-idg-blue-light" %}
      {% set cardText = "
        <span class='text-idg-grey font-light block'>Location</span><span class='font-bold block mb-3'>Afghanistan</span>
        <span class='text-idg-grey font-light block'>Sector</span><span class='font-bold block mb-3'>Guarding</span>
        <span class='text-idg-grey font-light block'>What we did</span><span class='font-bold block mb-3'>Armed and unarmed security services </span>
        <span class='text-idg-grey font-light block'>What they said</span><span class='font-bold block mb-3'>“Quote to go here”</span>
      " %}
      {% include 'partials/card.njk' %}

      {% set cardImg = "/images/client-preview.png" %}
      {% set cardTitle = "UN Assistance Mission (UNAMA)" %}
      {% set cardBg = "bg-idg-blue-light" %}
      {% set cardText = "
        <span class='text-idg-grey font-light block'>Location</span><span class='font-bold block mb-3'>Afghanistan</span>
        <span class='text-idg-grey font-light block'>Sector</span><span class='font-bold block mb-3'>Guarding</span>
        <span class='text-idg-grey font-light block'>What we did</span><span class='font-bold block mb-3'>Armed and unarmed security services </span>
        <span class='text-idg-grey font-light block'>What they said</span><span class='font-bold block mb-3'>“Quote to go here”</span>
      " %}
      {% include 'partials/card.njk' %}

      {% set cardImg = "/images/client-preview.png" %}
      {% set cardTitle = "UN Assistance Mission (UNAMA)" %}
      {% set cardBg = "bg-idg-blue-light" %}
      {% set cardText = "
        <span class='text-idg-grey font-light block'>Location</span><span class='font-bold block mb-3'>Afghanistan</span>
        <span class='text-idg-grey font-light block'>Sector</span><span class='font-bold block mb-3'>Guarding</span>
        <span class='text-idg-grey font-light block'>What we did</span><span class='font-bold block mb-3'>Armed and unarmed security services </span>
        <span class='text-idg-grey font-light block'>What they said</span><span class='font-bold block mb-3'>“Quote to go here”</span>
      " %}
      {% include 'partials/card.njk' %}

      {% set cardImg = "/images/client-preview.png" %}
      {% set cardTitle = "UN Assistance Mission (UNAMA)" %}
      {% set cardBg = "bg-idg-blue-light" %}
      {% set cardText = "
        <span class='text-idg-grey font-light block'>Location</span><span class='font-bold block mb-3'>Afghanistan</span>
        <span class='text-idg-grey font-light block'>Sector</span><span class='font-bold block mb-3'>Guarding</span>
        <span class='text-idg-grey font-light block'>What we did</span><span class='font-bold block mb-3'>Armed and unarmed security services </span>
        <span class='text-idg-grey font-light block'>What they said</span><span class='font-bold block mb-3'>“Quote to go here”</span>
      " %}
      {% include 'partials/card.njk' %}

    </div>
  </div>
</div>

{% endblock %}