{% extends "layouts/base.njk" %} 

{% block content %}

  {% set pageHeaderSubPageImg = "/images/header-img-1.png" %}
  {% set pageHeaderSubPageTitle = title %}
  {% set pageHeaderSubPageSubTitle = "Headline covering the client base and other information" %}
  {% include "partials/page-header-sub-page.njk" %}
  
  {% set textHighlightText = "Our client base covers governments, international and non-governmental organisations, the oil and gas, extractive and natural resources industries, manufacturing and industrial operations, luxury hotels and high net-worth<br /> individuals and families." %}
  {% include "partials/text-highlight.njk" %}

  {% set cta5Title = "“The IDG International Armed Guards and Local National Unarmed Guards are an integral part of UNANA’s security policy... UNAMA has enjoyed a close working relationship with IDG and I have no hesitation in recommending IDG, its services and its management team highly for any future operations.”" %}
  {% set cta5Text = "Chief Procurement Unit, UN Assistance Mission in Afghanistan (UNAMA)" %}
  {% set cta5Subtitle = "Armed and unarmed security services to UN Assistance Mission in Afghanistan (UNAMA)" %}
  {% set cta5TitleSize = "text-3xl" %}
  {% set cta5SubtitleWeight = "font-bold" %}
  {% set cta5TitleBG = "bg-idg-blue-light bg-fern--2--dark" %}
  {% set cta5TitleColor = "text-idg-blue" %}
  {% set cta5SubtitleSize = "text-base" %}
  {% include "partials/cta-5.njk" %}

  {% set cta5Title = "“The IDG International Armed Guards and Local National Unarmed Guards are an integral part of UNANA’s security policy... UNAMA has enjoyed a close working relationship with IDG and I have no hesitation in recommending IDG, its services and its management team highly for any future operations.”" %}
  {% set cta5Text = "Chief Procurement Unit, UN Assistance Mission in Afghanistan (UNAMA)" %}
  {% set cta5Subtitle = "Armed and unarmed security services to UN Assistance Mission in Afghanistan (UNAMA)" %}
  {% set cta5TitleSize = "text-3xl" %}
  {% set cta5SubtitleWeight = "font-bold" %}
  {% set cta5TitleBG = "bg-white bg-fern--2--dark" %}
  {% set cta5TitleColor = "text-idg-blue" %}
  {% set cta5SubtitleSize = "text-base" %}
  {% include "partials/cta-5.njk" %}

  {% set cta5Title = "“IDG Security’s in-depth risk assessment revealed threats that the client was not aware of, allowing them to make safer and more profitable commercial decisions.”" %}
  {% set cta5Text = "Name and title?" %}
  {% set cta5Subtitle = "Security Risk Assessment (SRA) for a Telecommunications Company in Myanmar " %}
  {% set cta5TitleSize = "text-3xl" %}
  {% set cta5SubtitleWeight = "font-bold" %}
  {% set cta5TitleBG = "bg-idg-blue-light bg-fern--2--dark" %}
  {% set cta5TitleColor = "text-idg-blue" %}
  {% set cta5SubBtn = true %}
  {% set cta5SubtitleSize = "text-base" %}
  {% include "partials/cta-5.njk" %}

  {% set cta5Title = "“The IDG International Armed Guards and Local National Unarmed Guards are an integral part of UNANA’s security policy... UNAMA has enjoyed a close working relationship with IDG and I have no hesitation in recommending IDG, its services and its management team highly for any future operations.”" %}
  {% set cta5Text = "Chief Procurement Unit, UN Assistance Mission in Afghanistan (UNAMA)" %}
  {% set cta5Subtitle = "Armed and unarmed security services to UN Assistance Mission in Afghanistan (UNAMA)" %}
  {% set cta5TitleSize = "text-3xl" %}
  {% set cta5SubtitleWeight = "font-bold" %}
  {% set cta5TitleBG = "bg-white bg-fern--2--dark" %}
  {% set cta5TitleColor = "text-idg-blue" %}
  {% set cta5SubtitleSize = "text-base" %}
  {% set cta5SubBtn = false %}
  {% include "partials/cta-5.njk" %}

{% endblock %}