{% extends "layouts/base.njk" %} 

{% block content %}

  {% set pageHeaderFullImgSubTitle = title %}
  {% set pageHeaderFullImgTitle = "This is a headline around the policies and further information you may require" %}
  {% set pageHeaderFullBGClass = "bg-idg-blue bg-fern--7" %}
  {% include "partials/page-header-full.njk" %}

  {% set ctaStripTitle = "Anti-Bribery and Corruption" %}
  {% set ctaStripColor = "bg-idg-blue-light" %}
  {% include "partials/cta-strip.njk" %}

  {% set ctaStripTitle = "Slavery and Human Trafficking" %}
  {% set ctaStripColor = "bg-white" %}
  {% include "partials/cta-strip.njk" %}

  {% set ctaStripTitle = "Preventing Sexual Exploitation and Abuse" %}
  {% set ctaStripColor = "bg-idg-blue-light" %}
  {% include "partials/cta-strip.njk" %}

  {% set ctaStripTitle = "Whistleblowing" %}
  {% set ctaStripColor = "bg-white" %}
  {% include "partials/cta-strip.njk" %}

  {% set ctaStripTitle = "Diversity and Inclusion" %}
  {% set ctaStripColor = "bg-idg-blue-light" %}
  {% include "partials/cta-strip.njk" %}

  {% set ctaTitle = "Get in touch" %}
  {% include "partials/cta.njk" %}

{% endblock %}