{% extends "layouts/base.njk" %} 

{% block content %}

  {% set pageHeaderFullImgSubTitle = title %}
  {% set pageHeaderFullImgTitle = "IDG Policies" %}
  {% set pageHeaderFullBGClass = "bg-idg-blue bg-fern--7" %}
  {% include "partials/page-header-full.njk" %}

  {% set previewRightImg = "/images/panel-1.jpg" %}
  {% set previewRightTitle = "Anti-Bribery and coruption" %}
  {% set previewRightText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "partials/preview--right.njk" %}

  {% set previewLeftImg = "/images/panel-2.jpg" %}
  {% set previewLeftTitle = "Slavery and human trafficking" %}
  {% set previewLeftText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "partials/preview--left.njk" %}

  {% set previewRightImg = "/images/panel-3.jpg" %}
  {% set previewRightTitle = "Preventing sexual exploitation and abuse" %}
  {% set previewRightText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "partials/preview--right.njk" %}

  {% set previewLeftImg = "/images/panel-4.jpg" %}
  {% set previewLeftTitle = "Whistleblowing" %}
  {% set previewLeftText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "partials/preview--left.njk" %}

  {% set previewRightImg = "/images/panel-5.jpg" %}
  {% set previewRightTitle = "Diversity and Inclusion" %}
  {% set previewRightText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
  {% include "partials/preview--right.njk" %}

{% endblock %}