@tailwind base;
@tailwind components;
@tailwind utilities;

.page-header {
  margin-top: -160px; 
  padding-top: 160px;
}

@screen sm {
  .page-header {
    padding-top: 0;
  }
}

.bust--full {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

#site-head {
  @apply transition duration-300 ease-in-out bg-white;
}

.page-home #site-head {
  @apply transition duration-300 ease-in-out bg-transparent;
}

#site-head ul li a,
#site-head ul li button {
  @apply transition duration-300 ease-in-out relative font-bold;
}

.page-home #site-head.site-header--scolled ul li a,
.page-home #site-head.site-header--scolled ul li button {
  @apply text-idg-black;
}

.page-home #site-head.site-header--scolled {
  background-color: rgba(255,255,255,.9);
}

.page-home #site-head ul li a,
.page-home #site-head ul li button
 {
  @apply text-idg-blue font-bold relative;
}

.page-home #site-head ul li a:hover,
.page-home #site-head ul li button:hover {
  @apply text-idg-black;
}

#site-head ul li a:hover:after, 
#site-head ul li button:hover:after  {
  @apply bg-idg-blue;
  content: "";
  height: 3px;
  width: 30px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.site-header--scolled {
  background-color: rgba(255,255,255,.9);
  @apply shadow-md;
}

.site-header--scolled ul li a,
.site-header--scolled ul li button  {
  @apply text-idg-blue;
}
/* .site-header--scolled .site-logo {
  background-image: url('./images/idg-logo-alt.png');
  height: 23px;
  width: 101px;
  display: block;
} */

.site-logo {
  background-image: url('./images/idg-logo.png');
  height: 69px;
  width: 89px;
  display: block;
}

.btn {
  @apply flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-tl-3xl rounded-br-3xl text-white bg-idg-blue hover:bg-idg-black hover:text-white;
}

.btn--green {
  @apply flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-tl-3xl rounded-br-3xl text-idg-blue bg-idg-green hover:bg-idg-black hover:text-white;
}

.btn--white {
  @apply flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-tl-3xl rounded-br-3xl text-idg-blue bg-white hover:bg-idg-black hover:text-idg-blue;
}

.bg-fern--1 {
  background-image: url(../images/bg-fearn-1.png);

  @apply bg-no-repeat bg-center;
}

.bg-fern--2 {
  background-image: url(../images/bg-fearn-2.png);

  @apply bg-no-repeat bg-cover;
}

.bg-fern--2--dark {
  background-image: url(../images/bg-fearn-2--dark.png);

  @apply bg-no-repeat bg-center bg-cover;
}

.bg-fern--3 {
  background-image: url(../images/bg-fearn-3.png);

  @apply bg-no-repeat bg-cover bg-top;
}

.bg-fern--4 {
  background-image: url(../images/bg-fearn-4.png);

  @apply bg-no-repeat bg-cover bg-top;
}

.bg-fern--5 {
  background-image: url(../images/bg-fearn-5.png);

  @apply bg-no-repeat bg-cover bg-left;
}

.bg-fern--6 {
  background-image: url(../images/bg-fearn-6.png);

  @apply bg-no-repeat bg-contain bg-left;
}

.bg-fern--7 { 
  background-image: url(../images/fern-10.png);

  @apply bg-no-repeat bg-contain bg-left;

}

.bg-fern--8 { 
  background-image: url(../images/bg-fearn-8.png);

  @apply bg-no-repeat bg-cover bg-left;

}

.arrow--left {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #B0C4D2;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);

  @apply absolute z-10;
}

.arrow--left--blue-mid {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #B0C4D2;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);

  @apply absolute z-10;
}

.arrow--right {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #B0C4D2;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);

  @apply absolute z-10;
}

.arrow--right--blue-light {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #E4EBF0;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);

  @apply absolute z-10;
}

.list-disc li::marker {
  @apply text-idg-blue-mid;
}