@tailwind base;
@tailwind components;
@tailwind utilities;

.bust--full {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.btn {
  @apply w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-tl-3xl rounded-br-3xl text-white bg-idg-blue hover:bg-idg-black;
}

.arrow--left {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @apply absolute z-10;

}

.arrow--right {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid black;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  @apply absolute z-10;

}


/*------------------------------------*\
    BORDERS
\*------------------------------------*/

html:before,
html:after,
body:before,
body:after {
  @apply bg-idg-blue fixed block;
  content: " ";
  z-index: 5;
}

html:before{
  height: 10px;
  left: 30px;
  right: 30px;
  top: 30px;
}

html:after{
  width: 1px;
  top: 30px;
  right: 30px;
  bottom: 30px;
}

body:before{
  height: 1px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

body:after{
  width: 1px;
  top: 30px;
  bottom: 30px;
  left: 30px;
}