<div class="mx-auto container px-12 xxl:px-0 py-10">
  
  <div class="lg:flex h-full lg:justify-center lg:items-center">
  
    <div class="flex-1 flex justify-center items-center px-10 py-10">
      <img src="{{ affiliateImg }}" alt="">
    </div>
  
    <div class="flex-1 flex justify-center items-center px-10 py-10">
      <div class="">
        <h2 class="text-idg-blue font-bold text-xl">{{ affiliateTitle }}</h2>
        <span class="block text-idg-blue text-4xl">&mdash;</span>
        <p class="font-light">{{ affiliateText | safe }}</p>
      </div>
    </div>
  
  </div>
  
</div>
