<div class="relative pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8 {{ cardsBgColor}}">
  <div class="relative container px-12 xxl:px-0 mx-auto">

    {% set titleTitle = cardsTitle %}
    {% set titleTitleColor = "text-idg-blue" %}
    {% set titleTitlePosition = "hidden" %}
    {% include 'partials/title.njk' %} 

    {% if showSomalia %}

      <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
  
        {% set cardImg = "/images/card-1.jpg" %}
        {% set cardTitle = "Afghanistan" %}
        {% set cardBg = "bg-idg-blue-light" %}
        {% set cardText = "The primary UN security supplier for nearly two decades." %}
        {% include 'partials/card.njk' %}
    
        {% set cardImg = "/images/card-2.jpg" %}
        {% set cardTitle = "Somalia" %}
        {% set cardBg = "bg-idg-blue-mid" %}
        {% set cardText = "Navigating the complex security currents of Somalia." %}
        {% include 'partials/card.njk' %}
    
        {% set cardImg = "/images/card-3.jpg" %}
        {% set cardTitle = "Myanmar" %}
        {% set cardBg = "bg-idg-blue-light" %}
        {% set cardText = "International standards with sustainable operating costs." %}
        {% include 'partials/card.njk' %}

      </div>
      
    {% else %}

      <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-2 lg:max-w-none">
  
        {% set cardImg = "/images/card-curve-img.png" %}
        {% set cardTitle = "Afghanistan" %}
        {% set cardHeight = "h-80" %}
        {% set cardBg = "bg-idg-blue-light" %}
        {% set cardText = "The primary UN security supplier for nearly two decades." %}
        {% set cardCurve = "rounded-tl-huge" %}
        {% include 'partials/card.njk' %}
  
        {% set cardImg = "/images/card-curve-img.png" %}
        {% set cardTitle = "Myanmar" %}
        {% set cardBg = "bg-idg-blue-light" %}
        {% set cardHeight = "h-80" %}
        {% set cardText = "International standards with sustainable operating costs." %}
        {% include 'partials/card.njk' %}

      </div>

    {% endif %}

  </div>
</div>