<div class="bg-idg-blue-light bg-fern--8">
  <div class="container mx-auto px-12 xxl:px-0 py-16 lg:py-32">

    {% set titleTitle = "We are IDG" %}
    {% set titleJustify = "justify-start" %}
    {% set titleTitleColor = "text-idg-blue" %}

    {% include 'partials/title.njk' %} 

    <div class="text-left">
      <p class="max-w-screen-md mb-10 font-bold">We provide the physical protection, specialist skills and peace of mind that enable the UN and other organisations to carry out crucial work in dangerous and insecure settings.</p>
      <div class="inline-flex">
        <a href="#" class="btn">
          About IDG
        </a>
      </div>
    </div> 
  </div>
</div>