<div class="bg-white">
  <div class="container mx-auto px-12 xxl:px-0 pt-10 pb-5 lg:flex lg:items-center lg:justify-between">
    {% set titleTitle = cta3Title %}
    {% set titleTitleColor = "text-idg-blue" %}
    {% set titleTitleSize = "text-4xl" %}

    {% include 'partials/title.njk' %} 

  </div>
</div>
