<div class="bg-idg-blue relative">

  <div class="container mx-auto px-12 xxl:px-0 py-8 lg:flex lg:items-center lg:justify-between">
    {% set titleTitle = cta3Title %}
    {% set titleTitleColor = "text-white" %}
    {% set titleTitleSize = "text-lg" %}
    {% set titleTitlePosition = "hidden" %}

    {% include 'partials/title.njk' %} 

  </div>

  <div class="arrow--bottom"></div>

</div>
