<div class="{{ cta5TitleBG }} {{ cta5TitleColor }} text-center">
  <div class="container mx-auto px-12 xxl:px-0 py-16 lg:py-24">

    {% if cta5Subtitle %}
      <p class="max-w-screen-md mx-auto {{ cta5SubtitleWeight }}">{{ cta5Subtitle }}</p>
      <span class="block text-4xl {{ cta5TitleColor }}">&mdash;</span>
    {% endif %}

    {% set titleTitle = cta5Title %}
    {% set titleTitleBG = cta5TitleBG %}
    {% set titleTitleColor = cta5TitleColor %}
    {% set titleTitleSize = cta5TitleSize %}
    {% set titleTitlePosition = "self-center" %}

    <div class="max-w-5xl mx-auto">
      {% include 'partials/title.njk' %} 
    </div>

    <div class="text-center">
      <p class="max-w-screen-md mx-auto mb-10 {% if cta5SubtitleSize %} {{ cta5SubtitleSize }} {% else %} text-2xl {% endif %} {% if cta5SubtitleWeight %} {{ cta5SubtitleWeight }} {% else %} font-light {% endif %}">{{ cta5Text }}</p>

      {% if cta5SubBtn %}
        <div class="inline-flex">
          <a href="#" class="btn">
             View report
          </a>
        </div>
      {% endif %}      

      {% if cta5Btn %}
        <div class="inline-flex">
          <a href="#" class="btn--white">
             Learn more about IDG 
          </a>
        </div>
      {% endif %}
    </div> 
  </div>
</div>