<div class="bg-idg-blue text-white bg-fern--2 text-center">
  <div class="container mx-auto px-12 xxl:px-0 py-16 lg:py-24">

    {% set titleTitle = "‘Hami Jasto Kohi Chhaina’ " %}
    {% set titleTitleColor = "text-white" %}
    {% set titleTitlePosition = "self-center" %}
    {% include 'partials/title.njk' %} 

    <div class="text-center">
      <p class="max-w-screen-md mx-auto mb-10 font-light">From a heritage founded in the values of the Brigade of Gurkhas of the British Army, we now employ a diverse workforce around the world. We are united by a sense of responsibility to the clients we serve, and each other. Our commitment to the communities in which we operate, and extraordinary ethical standards sets us apart.</p>
      <div class="inline-flex">
        <a href="#" class="btn--green">
           Learn more about IDG 
        </a>
      </div>
    </div> 
  </div>
</div>