<div class="bg-idg-blue">
  <div class="container mx-auto px-12 xxl:px-0 py-10 lg:flex lg:items-center lg:justify-between">
    {% set titleTitle = "Our expertise" %}
    {% set titleTitleColor = "text-white" %}
    {% include 'partials/title.njk' %} 
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex">
        <a href="#" class="btn--white">
          View expertise
        </a>
      </div>
    </div>
  </div>
</div>
