<div class="bg-idg-blue-mid py-10 bg-fern--4 py-20">
  <div class="container mx-auto px-12 xxl:px-0 lg:flex lg:items-center lg:justify-between">
    {% set titleTitle = "Want to get started?<br><span class='text-white'>Contact us</span>" %}
    {% set titleTitleColor = "text-idg-blue" %}
    {% set titleTitlePosition = "hidden" %}
    {% include 'partials/title.njk' %} 
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex">
        <a href="#" class="btn--green">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</div>