<div class="bg-idg-blue-light">
  <div class="container mx-auto px-12 xxl:px-0 py-16">

    {% set titleTitle = "IDG’s Global Response to Covid-19" %}
    {% set titleJustify = "justify-start" %}
    {% set titleTitleSize = "text-2xl" %}
    {% set titleTitleColor = "text-idg-blue" %}
    {% include 'partials/title.njk' %} 

    <h2 class="text-lg font-bold mb-10">We are committed to two core objectives over this period:</h2>

    <div class="mt-12 lg:mt-4 lg:col-span-2">
      <dl class="flex space-x-10 max-w-screen-lg">

        {% set listTitleTextTitle = "We will look after our people" %}
        {% set listTitleTextText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "We will look after our clients" %}
        {% set listTitleTextText = "We have committed additional funding at every location and undertaken the following measures across the company to maintain security across all our client sites. This has been guided by WHO and other expert advice:" %}
        {% include "partials/list-title-text--item.njk" %}

      </dl>
    </div>
  </div>
</div>
</div>