<div class="bg-white">
  <div class="container mx-auto px-12 xxl:px-0 py-16 lg:py-24">
    {% set titleTitle = listFeaturesBulletsTitle %}
    {% set titleJustify = "justify-start" %}
    {% set titleTitleColor = "text-idg-blue" %}

    {% include 'partials/title.njk' %} 

    <div class="lg:grid lg:grid-cols-3 lg:gap-x-8">
      <div>
      <p class="mt-4 text-lg">{{ listFeaturesBulletsText | safe }}</p>
    </div>

    <div class="mt-12 lg:mt-0 lg:col-span-2">
        <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-2 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8">
          
          <div class="ml-3">
            <dt class="text-lg leading-6 font-bold text-idg-blue ml-8">
              Guarding
            </dt>
            {% set listItemTickText = "Armed guarding" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Unarmed guarding" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Entry control & access control systems" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Perimeter integrity" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Vehicle/Personnel search" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Explosive Detection Dogs" %}
            {% set listItemTickLink = true %}
            {% include "partials/list-item-tick.njk" %}
          </div>

          <div class="ml-3">
            <dt class="text-lg leading-6 font-bold text-idg-blue ml-8">
              External Environment
            </dt>
            {% set listItemTickText = "Risk assessments" %}
            {% set listItemTickLink = true %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Infiltration testing" %}
            {% set listItemTickLink = false %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickLink = true %}
            {% set listItemTickText = "Vulnerability assessments" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickLink = false %}
            {% set listItemTickText = "Hostile surveillance detection" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Community engagement" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Host nation security liaison" %}
          </div>
          
          <div class="ml-3 col-start-2">
            <dt class="text-lg leading-6 font-bold text-idg-blue ml-8">
              Policies, Plans & Procedures
            </dt>
            {% set listItemTickText = "Risk assessments" %}
            {% set listItemTickLink = true %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Infiltration testing" %}
            {% set listItemTickLink = false %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickLink = true %}
            {% set listItemTickText = "Vulnerability assessments" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickLink = false %}
            {% set listItemTickText = "Hostile surveillance detection" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Community engagement" %}
            {% include "partials/list-item-tick.njk" %}
            {% set listItemTickText = "Host nation security liaison" %}
          </div>
          
        </dl>
      </div>


  </div>
</div>
</div>