<div class="bg-idg-blue text-white bg-fern--2">
  <div class="container mx-auto px-12 xxl:px-0 py-16 lg:py-24">

    <div class="">
  
      {% set titleTitle = listBulletaTitle %}
      {% set titleJustify = "justify-center" %}
      {% include 'partials/title.njk' %} 

      <ul class="mt-5 font-bold list-inside list-disc space-y-5 max-w-screen-md mx-auto text-center">
        <li>Zero tolerance of bribery and corruption. We go beyond national and international law to live the highest moral standards, even if it makes our life more difficult.</li>
        <li>A deep commitment to the wellbeing of our employees and their families.</li>
        <li>Complete adherence to the Rule of Law.</li>
        <li>Transparent relationships with clients; meeting their complex requirements with fairly, and sustainably priced, risk management options. </li>
        <li>Ethical partnerships with like-minded suppliers.</li>
        <li>A constant striving to be better.</li>
      </ul>

    </div> 
  </div>
</div>
