<div class="bg-idg-blue-light">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
    <div class="max-w-5xl mx-auto text-center">

      {% set titleTitle = listFeaturesBigTitle %}
      {% set titleTitleColor = "text-idg-blue" %}
      {% set titleTitlePosition = "self-start" %}
      {% include 'partials/title.njk' %}

      <p class="mt-4 text-lg font-light">{{ listFeaturesBigText | safe }}</p>
    </div>
    <dl class="mt-20 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div class="flex">
        <svg class="flex-shrink-0 h-6 w-6 text-idg-blue" x-description="Heroicon name: check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-bold text-idg-blue">
            Proof Point
          </dt>
          <dd class="mt-2 text-lg font-light">
            Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg class="flex-shrink-0 h-6 w-6 text-idg-blue" x-description="Heroicon name: check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-bold text-idg-blue">
            Proof Point
          </dt>
          <dd class="mt-2 text-lg font-light">
            Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg class="flex-shrink-0 h-6 w-6 text-idg-blue" x-description="Heroicon name: check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-bold text-idg-blue">
            Proof Point
          </dt>
          <dd class="mt-2 text-lg font-light">
            Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
          </dd>
        </div>
      </div>

      <div class="flex">
        <svg class="flex-shrink-0 h-6 w-6 text-idg-blue" x-description="Heroicon name: check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-bold text-idg-blue">
            Proof Point
          </dt>
          <dd class="mt-2 text-lg font-light">
            Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
          </dd>
        </div>
      </div>

    </dl>
  </div>
</div>
