<dd class="mt-2">
  <div class="flex">
    <svg class="flex-shrink-0 h-6 w-6 text-idg-blue" x-description="Heroicon name: check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
    </svg>
    <div class="text-base font-light ml-2">
      

      {% if listItemTickLink %}
        <div class="flex">
          <div>
            <a href="#">{{ listItemTickText}}</a>
          </div>
          <div>
            <a href="#">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </a>
          </div>
        </div>
      {% else %}
        {{ listItemTickText}}
      {% endif %}

    </div>
  </div>
</dd>