<div class="bg-idg-blue-light">
  <div class="container mx-auto px-12 xxl:px-0 py-16 lg:py-24">

    <h2 class="text-lg font-bold mb-10">We are committed to two core objectives over this period:</h2>

    <div class="mt-12 lg:mt-4 lg:col-span-2">
      <dl class="space-y-8">

        {% set listTitleTextTitle = "We will look after our people" %}
        {% set listTitleTextText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "We will look after our clients" %}
        {% set listTitleTextText = "We have committed additional funding at every location and undertaken the following measures across the company to maintain security across all our client sites. This has been guided by WHO and other expert advice:" %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Communications" %}
        {% set listTitleTextText = "We have ensured group wide communications to all staff, to assure them of our commitment to them. Not only do we seek to provide reassurance, but also to retain motivation and be in a better position to maintain security. We know that many staff worry about their jobs, and even see taking sick leave as a risk. We have been clear and strident in reassuring our staff that we will look after them." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "CONPLANs" %}
        {% set listTitleTextText = "We have integrated our local and regional contingency plans with yours at regional and local levels. This has ensured that plans are optimised and proved more effective as a result." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Travel" %}
        {% set listTitleTextText = "We stopped all unnecessary international travel in mid-January. This covered all managerial activity, but we continued to enable leave rotations for our staff. Similarly, we greatly reduced local travel to minimise exposure outside the compounds and offices." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Good hygiene practices" %}
        {% set listTitleTextText = "We have enforced good hygiene practices across the business, with additional facilities for hand washing, or sterilising gels, being made widely available." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Physical separation measures" %}
        {% set listTitleTextText = "Across all our offices and at duty stations we have split offices, split shifts, separated teams, reorganised accommodation, reorganised guard post rotations, etc." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Social distancing" %}
        {% set listTitleTextText = "This has been implemented across all sites and guides our day-to-day behaviours and interactions. We have also issued advice to staff on what precautions they should consider taking for religious practices and also for special gatherings that occur during Thingyan and Ramadan." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Working from Home" %}
        {% set listTitleTextText = "We have made arrangements for all non-essential staff to work from home, giving them the tools to continue working, or simply ‘standing them down’, and so allowing them to isolate and be with their families while remaining salaried." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Personal Protective Equipment" %}
        {% set listTitleTextText = "We have purchased, shipped and issued stocks of PPE - masks, gloves, gels, soaps. This includes provision for replacement of these disposables/consumables over time." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Enhanced PPE" %}
        {% set listTitleTextText = "We recognise that in many locations we need to be more self-sufficient than most, and so have issued better masks, goggles/facial screens, biohazard suits, etc, to enable management of victims or for higher risk activities." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Early pay for local staff" %}
        {% set listTitleTextText = "Payroll was run early in order to allow staff and their families to act early. We are continuing to pay early and plan to keep this system while the lockdown is in place." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Quarantine" %}
        {% set listTitleTextText = "We identified and isolated quarantine facilities and equipment from our existing accommodation areas, and where this was not possible, or we intended to centralise our response, we have purchased additional facilities such as containerised housing units." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Technology" %}
        {% set listTitleTextText = "Thermal cameras have been fielded at head offices and key locations. We know that elevated body temperature does not identify non-symptomatic but infected personnel and is therefore of limited value, but it does also have a positive psychological and behavioural effect. We have deployed oximeters at key locations. We will be deploying HEPA filtration systems in key communal areas." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Insurance and Medevac" %}
        {% set listTitleTextText = "We are covered for all staff in the event that we need it. We have worked with our insurers to reinforce this and have developed and shared our CONPLANs with them so they can respond. We have identified additional emergency medical response capabilities in collaboration with our identified responders in case our responder is unable to respond due to restrictions, lockdowns, or simply excessive demand." %}
        {% include "partials/list-title-text--item.njk" %}

        {% set listTitleTextTitle = "Emergency hardship fund" %}
        {% set listTitleTextText = "We have allocated funds for personnel requiring support, which includes family and dependents who we know are also struggling in the lockdown." %}
        {% include "partials/list-title-text--item.njk" %}

        <p class="font-bold max-w-5xl">We have achieved our aim of maintaining security, though we will never be complacent on this and remain vigilant and ready to meet and manage further impacts. Our security plans, and our contingency plans, are under constant review and we plan and adapt as we must to ensure security. We continue close collaboration and joint planning with our clients to ensure this. We have also been able to ensure our small, but important humanitarian duty – to our people – has been possible.</p>

      </dl>
    </div>
  </div>
</div>
</div>