<img class="absolute top-0 left-0 ml-20 mt-10" src="/images/bg-fearn-7.png" alt="">
<div class="bg-contain bg-right bg-no-repeat bg-idg-blue-light {{ pageHeaderFullBGClass }}" style="{{ pageHeaderFullBG }}">
  <div class="h-banner flex flex-column items-center py-32 mx-auto container px-12 xxl:px-0 w-full text-center lg:text-left">
    <div class="lg:max-w-lg">
      <h2 class="text-idg-blue font-bold text-xl">{{ pageHeaderFullImgSubTitle | safe }}</h2>
      <span class="block text-idg-blue text-4xl">&mdash;</span>
      <strong class="text-4xl text-idg-blue">{{ pageHeaderFullImgTitle | safe }}</strong>
    </div>
  </div>
</div>