<main class="bg-cover {{ pageHeaderFullBGClass }}" style="{{ pageHeaderFullBG }}">
  <div class="mx-auto container px-12 xxl:px-0 w-full pt-16 pb-20 lg:py-48 text-center lg:text-left">
    <div class="lg:max-w-lg">
      <h2 class="text-white font-bold text-xl">{{ pageHeaderFullImgSubTitle | safe }}</h2>
      <span class="block text-white text-4xl">&mdash;</span>
      <strong class="text-4xl text-white">{{ pageHeaderFullImgTitle | safe }}</strong>
    </div>
  </div>
</main>