<div class="flex items-center bg-cover" style="height: 750px; margin-top: -160px; background-image: url('/images/page-header.jpg')">

  <div class="container mx-auto px-12 xxl:px-0">

    <blockquote class="mt-16 max-w-2xl text-white">
      <p class="text-4xl font-bold">“Their devotion to the work of our organization in the service of peace and those in need is an inspiration to us all.”</p>
      <span class="block text-4xl">&mdash;</span>
      <cite class="font-bold not-italic">Ban Ki-Moon, Secretary-General of the United Nations (2007 – 2016) describing IDG</cite>
    </blockquote>

  </div>

</div>