<div class="lg:relative bg-idg-blue-mid bg-fern--6">
  <div class="h-banner flex flex-column items-center py-32 mx-auto container px-12 xxl:px-0 w-full text-center lg:text-left">
    <div class="lg:w-1/2">

      <div class="lg:max-w-lg">

        <h2 class="text-white font-bold text-xl">{{ pageHeaderSubPageTitle }}</h2>
        <span class="block text-white text-4xl">&mdash;</span>
        <strong class="text-4xl text-idg-blue">{{ pageHeaderSubPageSubTitle }}</strong>

      </div>
    </div>
  </div>
  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-5/12 lg:h-full">
    <div class="arrow--left--blue-mid"></div>
    <img class="absolute inset-0 w-full h-full object-cover" src="{{ pageHeaderSubPageImg }}" alt="">
  </div>
</div>