<main class="lg:relative bg-yellow-400">

  <div class="mx-auto container px-12 xxl:px-0 w-full pt-16 pb-20 lg:py-20 text-center lg:text-left lg:flex lg:justify-end">
    <div class="lg:w-1/2 md:pl-16 bg-blue-500">

      <h2 class="text-idg-blue font-bold text-xl">{{ previewLeftTitle }}</h2>
      <span class="block text-idg-blue text-4xl">&mdash;</span>
      <strong>{{ previewLeftSubTitle }}</strong>
      <p class="font-light">{{ previewLeftText }}</p>

      <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
          <a href="#" class="btn">
            Learn more
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2 lg:h-full">
    <div class="arrow--right"></div>
    <img class="absolute inset-0 w-full h-full object-cover" src="{{ previewLeftImg }}" alt="">
  </div>


</main>