<main class="lg:relative bg-idg-blue-light">
  <div class="mx-auto container px-12 xxl:px-0 w-full pt-16 pb-20 lg:py-20 text-center lg:text-left">
    <div class="lg:w-1/2">

      <div class="lg:max-w-lg">

        <h2 class="text-idg-blue font-bold text-xl">{{ previewRightTitle }}</h2>
        <span class="block text-idg-blue text-4xl">&mdash;</span>
        <strong>{{ previewRightSubTitle }}</strong>
        <p class="font-light">{{ previewRightText }}</p>

        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
          <div>
            <a href="#" class="btn">
              Learn more
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-5/12 lg:h-full">
    <div class="arrow--left"></div>
    <img class="absolute inset-0 w-full h-full object-cover" src="{{ previewRightImg }}" alt="">
  </div>
</main>