<footer class="bg-yellow-200 bust--full py-16">

  <div class="xl:max-w-screen-2xl mx-auto px-5">

  {% include "partials/brand.svg" %}

<div class="flex mt-10 mb-16 ">

  <div class="flex space-x-20">
    <ul>
      <li class="mb-5">What we do</li>
      <li>Where we operate</li>
      <li>Our Expertise</li>
    </ul>
    <ul>
      <li class="mb-5">Company</li>
      <li>About us</li>
      <li>Careers</li>
    </ul>
    <ul>
      <li class="mb-5">Obligations</li>
      <li>Covid-19</li>
      <li>Responsibility</li>
    </ul>
    <ul>
      <li class="mb-5">Legal</li>
      <li>Terms & Conditions</li>
      <li>Privacy</li>
      <li>Grievance</li>
    </ul>
  </div>

  <div class="ml-auto">
    Language
  </div>

</div>

© IDG 2020. All rights reserved.
Site by Curious Ways
  &copy; {{ site.name }}


  </div>

</footer>