{% include "partials/cta.njk" %}

<footer class="bg-idg-black text-white py-16">

  <div class="container mx-auto px-12 xxl:px-0">

    {% include "partials/brand-white.svg" %}
  
    <div class="md:flex mt-10 mb-16">
    
      <div class="md:flex md:space-x-20 space-y-10 md:space-y-0">
        <ul>
          <li class="mb-5 font-bold">What we do</li>
          <li>Where we operate</li>
          <li>Our Expertise</li>
        </ul>
        <ul>
          <li class="mb-5 font-bold">Company</li>
          <li>About us</li>
          <li>Careers</li>
        </ul>
        <ul>
          <li class="mb-5 font-bold">Obligations</li>
          <li>Covid-19</li>
          <li>Responsibility</li>
        </ul>
        <ul>
          <li class="mb-5 font-bold">Legal</li>
          <li>Terms & Conditions</li>
          <li>Privacy</li>
          <li>Grievance</li>
        </ul>
      </div>
    
      <div class="ml-auto mt-10 md:mt-0">
        Language
      </div>
    
    </div>
  
    <div class="md:flex md:justify-between text-sm">
      <div>&copy; {{ site.name }} 2020. All rights reserved.</div>
      <div>Site by Curious Ways</div>
    </div>

  </div>

</footer>