<header class="bg-yellow-100 z-10 sticky py-6" style="top: 40px; margin-right: 31px; margin-left: 31px;">

  <div class="flex justify-between items-center mx-auto container px-12 xxl:px-0">

    <div>
      <a href="/">
        {% include "partials/brand.svg" %}
      </a>
    </div>
    <ul class="flex space-x-10">
      {% for item in navigation.items %}
      <li>
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>
    <div>
      <a href="/contact">Contact</a>
    </div>

  </div>

</header>