{% include "partials/cta.njk" %}

<footer class="bg-idg-black text-white py-16">

  <div class="container mx-auto px-12 xxl:px-0">

    {% include "partials/brand-white.svg" %}
  
    <div class="md:flex mt-10 mb-16">
    
      <div class="md:flex md:space-x-20 space-y-10 md:space-y-0">
        <ul>
          <li class="mb-5 font-bold">Our Expertise</li>
          <li class="font-light mb-3">Site Security</li>
          <li class="font-light mb-3">K9 Protection & Explosive Detection</li>
          <li class="font-light mb-3">Training & Capacity Building</li>
          <li class="font-light mb-3">Security Risk Management</li>
          <li class="font-light mb-3">Close Protection</li>
        </ul>
        <ul>
          <li class="mb-5 font-bold">Where We Operate</li>
          <li class="font-light mb-3">Afghanisatan</li>
          <li class="font-light mb-3">Somalia</li>
          <li class="font-light mb-3">Myanmar</li>
        </ul>
        <ul>
          <li class="mb-5 font-bold">About IDG</li>
          <li class="font-light mb-3">About Us</li>
          <li class="font-light mb-3">Our Clients</li>
          <li class="font-light mb-3">Careers</li>
          <li class="font-light mb-3">Covid-19</li>
          <li class="font-light mb-3">Policies</li>
        </ul>
        <ul>
          <li class="mb-5 font-bold">Legal</li>
          <li class="font-light mb-3">Terms & Conditions</li>
          <li class="font-light mb-3">Privacy</li>
          <li class="font-light mb-3">Grievance</li>
        </ul>
      </div>
    
      <div class="ml-auto mt-10 md:mt-0">
        <span class="mb-3 block">
        Language
        </span>
        <img src="/images/languages.png" alt="">
      </div>
    
    </div>
  
    <div class="md:flex md:justify-between text-sm">
      <div>&copy; {{ site.name }} 2020. All rights reserved.</div>
      <div>Site by Curious Ways</div>
    </div>

  </div>

</footer>