<div class="bg-white">
  <div class="container mx-auto px-12 xxl:px-0 py-12 lg:flex-col lg:items-center lg:justify-between">
    <div class="lg:max-w-5xl">
      <p class="{% if textHighlightType == "secondary" %} font-light {% else %} font-bold {% endif %} text-2xl">{{ textHighlightText | safe }}</p>
      {% if textHighlightTextMain %}
        <p class="mt-10">{{ textHighlightTextMain | safe }}</p>
      {% endif %}
    </div>
  </div>
</div>
