<div class="bg-white">
  <div class="container mx-auto px-12 xxl:px-0 py-12 lg:flex lg:items-center lg:justify-between">
    <p class="font-bold text-2xl lg:max-w-5xl">Our clients need assurance that no explosives will enter their facilities, premises, venues, business or aircraft without their knowledge or consent. Our dogs are teamed with experienced handlers to create specialist dog teams for either detection or patrol.</p>
  </div>
</div>
