<div class="bg-white">
  <div class="container mx-auto px-12 xxl:px-0 py-12 lg:flex lg:items-center lg:justify-between">
    <p class="font-bold text-2xl lg:max-w-5xl">{{ textHighlightText | safe }}</p>
  </div>
</div>
