<div class="flex justify-center">
  <div class="inline-flex flex-col"> 
    <h2 class="text-4xl tracking-tight font-bold {{ titleTitleColor }}">{{ titleTitle | safe }}</h2>
    <span class="block text-4xl {{ titleTitlePosition }} {{ titleTitleColor }}">&mdash;</span>
  </div>
</div>